# Node modules
node_modules/
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Server specific
server/node_modules/
server/.env

# Client specific
client/node_modules/
client/dist/
client/.env

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
